<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-light" style="background-color: black; color: aquamarine;">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-0" style="background-color: black !important;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SpringBoot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/form}">Crear cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/listar}">Clientes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1 style="color: aqua;" th:text="${title}"></h1>
      <form th:action="@{/form}" th:object="${cliente}" method="POST" class="form-group">
          <div class="mb-3 col-md-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:errorclass="'form-control alert-danger'" th:field="*{nombre}">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
          </div>
          <div class="mb-3 col-md-4">
            <label for="apellido" class="form-label" >Apellido</label>
            <input class="form-control" type="text" id="apellido" th:errorclass="'form-control alert-danger'" th:field="*{apellido}"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
          </div>
          <div class="mb-3 col-md-4">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" type="text" id="email" th:errorclass="'form-control alert-danger'" th:field="*{email}"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
          </div>
          <div class="mb-3 col-md-4">
            <label for="createAt" class="form-label">Fecha</label>
            <input class="form-control" type="text" th:field="*{createAt}" th:errorclass="'form-control alert-danger'" id="createAt"/>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
          </div>
          <div class="mb-3">
            <input class="btn btn-success" type="submit" value="Crear cliente"/>
          </div>

          <input type="hidden" th:field="*{id}"/>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>